<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.name %>!</h1>
    <p>Someone has requested a link to change your password. You can do this through the link below.</p>
    <p>
      <%= link_to "Reset password", resetpassword_url(reset_password_token: @user.reset_password_token, email: @user.email) %>
    </p>
    <p>If you didn't request this, please ignore this email.</p>
    <p>Your password won't change until you access the link above and create a new one.</p>
  </body>
</html>